.caseItem {
  width: 100%;
  height: 60vh;
  color: white;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transition: all 0.25s ease-out;
}

.caseItem:hover {
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 6px, rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

.leftContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2rem;
  gap: 14rem;
}

.leftContainer .bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.caseStudyText {
  font-size: 1rem;
  font-weight: bold;
}

.name {
  font-size: 3.4rem;
  font-weight: bold;
}

.desc {
  font-size: 1.1rem;
}

.rightContainer {
  width: 70%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.rightContainer img {
  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 100%;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;

  transition: all 0.25s ease-out;
}

.rightContainer img:hover {
  width: 102%;
}
