.home {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.contactLinks {
  position: fixed;
  bottom: 5%;
  right: 19%;

  display: flex;
  gap: 1rem;
}

.contactLinks a {
  font-size: 2.7rem;
  color: #afb1c2;

  transition: all 0.25s ease-out;
}

.contactLinks a:hover {
  font-size: 2.7rem;

  color: white;
}
