* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 82.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #1c1d25;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

@media (max-width: 1340px) {
  html {
    font-size: 72.5%;
  }
}

@media (max-width: 1140px) {
  html {
    font-size: 62.5%;
  }
}
